<div class="flex  justify-center h-full ">
    <div class="bg-white w-1/2">
        <h1 class="text-gray-700 text-3xl text-center mb-4">Question Paper</h1>
        <hr><hr><hr>
 <form [formGroup]="myForm" class="text-gray-900"(ngSubmit)="submitHandler()">
         Value: {{ myForm.value | json }}

         <mat-form-field class="my-3 border rounded w-full py-1 px-2 outline-none focus:shadow-outline">
            Exam Name:
            <input matInput formControlName="examname">
        </mat-form-field>
        <div formArrayName="Questions">

            <div *ngFor="let Question of QuestionForms.controls; let i=index" [formGroupName]="i">
               
                <mat-form-field class="my-3 border rounded w-full py-1 px-2 outline-none focus:shadow-outline">
                    Question:
                <input matInput  formControlName="Question" class="border rounded shadow-inner  w-full py-2 px-4 outline">
                </mat-form-field>
                <br>

                <mat-form-field class="my-3 border rounded w-full py-1 px-2 outline-none focus:shadow-outline">
                    A:
                    <input matInput  formControlName="A" class="border rounded shadow-inner w-full py-2 px-4 outline-none focus:shadow-outline">
                </mat-form-field>

                <mat-form-field class="my-3 border rounded shadow-inner w-full py-1 px-2 outline-none focus:shadow-outline">
                    B:
                    <input matInput  formControlName="B" class="border rounded w-full py-2 px-4 outline-none focus:shadow-outline">
                </mat-form-field>

                <mat-form-field class="my-3 border rounded w-full py-1 px-2 outline-none focus:shadow-outline">
                    C:
                    <input matInput  formControlName="C" class="border rounded shadow-inner w-full py-2 px-4 outline-none focus:shadow-outline">
                </mat-form-field>
                <mat-form-field class="my-3 border rounded w-full py-2 px-4 outline-none focus:shadow-outline">
                    D:
                    <input matInput  formControlName="D" class="border rounded shadow-inner w-full py-2 px-4 outline-none focus:shadow-outline">
                </mat-form-field>
                <br>

                Answer:
                <mat-form-field  class="my-2  shadow-inner" mr-5>
                
                    <select matNativeControl formControlName="Answer">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </mat-form-field>
                <br><br>

                <button class="py-1 border-red-700 bg-red-600 text-white ml-2" mat-raised-button color="warn" (click)="deleteQuestion(i)">Delete This Question</button>
                <br><br><hr><hr><hr><br>

            </div>

        </div>

            <button class="border rounded w-1/2 py-2 border-blue-700 bg-blue-600 text-white mr-5" mat-raised-button color="primary" (click)="addQuestion()">Add Question</button>
           <br>
           <br>
           <br>
           <br>
           
            <button class="border rounded w-1/2 py-2 border-blue-700 bg-blue-600 text-white mr-5" mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Submit Form</button>

     </form>
    </div>
</div>