<nav class="flex items-center justify-between flex-wrap bg-blue-900 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-bold text-xl">VISTAS Admin Panel</span>
    </div>
    <div>
        <button class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-trasparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0" (click)="Logout()">
            Logout
        </button>
    </div>
</nav>
<br><br><br>
 <div class="bg-white rounded-lg p-6">
        <div class="text-center">
          <h2 class="text-lg">Thank You!</h2>
          <div class="text-purple-500">Question Paper Has Been Successfully Submitted </div>
          <br><br>
          <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  (click)="addQuestionPaper()">Add Another Question Paper</button>
        </div>
      </div>
     
      <!-- <div class="max-w-sm  justify-center px-6 rounded">
        <div class="px-6 py-4 text-center">
          <div class="font-bold text-xl mb-2">Thank You!</div>
          <p class="text-gray-700 text-base">
            Question Paper Has Been Successfully Submitted.
          </p>
        </div>
      </div> -->